##################
# PORT_MS        #
##################

CLIENT_GATEWAY_PORT=3000
PRODUCTS_MS_PORT=3001
ORDERS_MS_PORT=3002
PAYMENTS_MS_PORT=3003
AUTH_MS=3004

##################
# NATS_SERVER    #
##################

NATS_SERVERS="nats://localhost:4222,nats://localhost:8222"

##################
# DATABASE_MS    #
##################

PRODUCT_DATABASE_URL=file:./****.db
ORDERS_DATABASE_URL=postgresql://*******:*******@ep-noisy-water-avszpng9-pooler.c-11.us-east-1.aws.neon.tech/orders-db?sslmode=require&channel_binding=require
AUTH_DATABASE_URL=mongodb+srv://*******:*******@auth-microservice-db.8v0vr8c.mongodb.net/AuthDB

##################
# SECRETS        #
##################

# PAYMENTS-MS
STRIPE_SECRET=
# https://dashboard.stripe.com/acct_1TgbWGJQug11Kah2/test/dashboard
# Este es el signing secret del webhook via CLI
ENDPOINT_SECRET_TESTING=whsec_************************************************************

# https://dashboard.stripe.com/acct_1TgbWGJQug11Kah2/test/workbench/webhooks/we_1ThUzSJQug11Kah2Kh5CTETZ
# Este es el signing secret del webhook via stripe
ENDPOINT_SECRET_OFFICIAL=whsec_*****************************

STRIPE_SUCCESS_URL='http://localhost:3003/payments/success'
STRIPE_CANCEL_URL='http://localhost:3003/payments/cancel'

# AUTH-MS
JWT_SECRET=*********************

# HOOKDECK
HOOKDECK_API_KEY=**********************************************